{% extends 'base.html' %}

{% block content %}
  <h1>All about Restaurant</h1>
  <h2>History of Restourant</h2>
  <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi quisquam veritatis laudantium itaque optio quis,
  debitis consequatur officiis similique! Autem tenetur ex sunt maxime commodi, ad illum itaque quidem ut accusantium
  cumque tempora soluta adipisci explicabo labore, officia id esse voluptate, ratione culpa. Laboriosam alias mollitia
  error accusamus vitae eum illum similique eius voluptatem id consectetur optio porro voluptate repudiandae veniam
  nostrum dicta, reiciendis, repellat possimus animi? Obcaecati, consequuntur. Excepturi maxime, similique, laboriosam
  laudantium, rerum dolore a aspernatur quisquam quidem aperiam voluptatum nobis corporis eius fuga quam ratione nemo
  veritatis fugit perferendis ex sit. Ut rem id nobis officiis harum.</p>
  <h2>Interesting facts about Restaurant</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim fuga placeat quasi cum, illo error atque officia
    voluptates ad. Inventore.</p>
{% endblock %}