{% extends 'base.html' %}

{% block content %}
  <h1>Edit Reservation</h1>
  <form method="post">
        {% csrf_token %}
    <div>
        <p>Booking Time: {{ reservation.booking_time }}</p>
    </div>
    <div>
        {{ form.table.label_tag }}
        {{ form.table }}
    </div>
    <div>
        {{ form.additional_info.label_tag }}
        {{ form.additional_info }}
    </div>
    <button type="submit">Save Changes</button>
  </form>
  <form method="post" action="{% url 'cancel_reservation' reservation.id %}">
    {% csrf_token %}
    <button type="submit">Cancel Reservation</button>
  </form>
  <a href="{% url 'account' %}">Back to Reservations</a>
{% endblock %}