{% extends 'base.html' %}

{% block content %}
<h1>Policy</h1>

<h1>Data protection under GDPR</h1>
<div>
  <p>
   The GDPR sets out detailed requirements for companies and organisations on collecting,
   storing and managing personal data. It applies both to European organisations that
   process personal data of individuals in the <a class="abbr" id="" title="In this case, the 27 EU member states">EU<span> (In this case, the 27 EU member states)</span></a>, and to organisations outside the EU that target people living in the <a class="abbr" id="link-abbr-ID0E3" title="In this case, the 27 EU member states">EU<span> (In this case, the 27 EU member states)</span></a>.
</p>
<h2>When does the General Data Protection Regulation (GDPR) apply?</h2>
<p>
   The GDPR applies if:
</p>
<ul>

   <li>
      your company processes personal data and is based in the EU, regardless of where the
      actual data processing takes place
   </li>
   <li>
      your company is established outside the EU but processes personal data in relation
      to the offering of goods or services to individuals in the EU, or monitors the behaviour
      of individuals within the EU
   </li>
</ul>
<p>
  <strong>Non-EU based businesses</strong> processing EU citizen's data have to appoint a <strong>representative in the EU</strong>.
   </p>
<h2>When does the General Data Protection Regulation (GDPR) not apply?</h2>
<p>The GDPR does not apply if:</p>
<ul>

   <li>
      the data subject is dead
      </li>

   <li>
      the data subject is a legal person
      </li>

   <li>
      the processing is done by a person acting for purposes which are outside his trade,
      business, or profession
      </li>
   </ul>
<h2>
   What is personal data?
   </h2>
<p>
   Personal data is any information about an identified or identifiable person, also
   known as the <strong>data subject</strong>. Personal data includes information such as their:
   </p>
<ul>

   <li>
      name
      </li>

   <li>
      address
      </li>

   <li>
      ID card/passport number
      </li>

   <li>
      income
      </li>

   <li>
      cultural profile
      </li>

   <li>
      Internet Protocol (IP) address
      </li>

   <li>
      data held by a hospital or doctor (which uniquely identifies a person for health purposes).
      </li>
   </ul>
<h3>
   Special categories of data
   </h3>
<p>
   You may not process personal data about someone's:
   </p>
<ul>

   <li>
      racial or ethnic origin
      </li>

   <li>
      sexual orientation
      </li>

   <li>
      political opinions
      </li>

   <li>
      religious or philosophical beliefs
      </li>

   <li>
      trade-union membership
      </li>

   <li>
      genetic, biometric or health data except in specific cases (e.g. when you've been
      given explicit consent or when processing is needed for reasons of substantial public
      interest, on the basis of EU or national law)
      </li>

   <li>
      personal data related to criminal convictions and offences unless this is authorised
      by EU or national law
      </li>
   </ul>
<h2>
   Who processes the personal data?
   </h2>
<p>
   During processing, personal data can pass through various different companies or organisations.
   Within this cycle there are two main profiles that deal with processing personal data:
   </p>
<ul>

   <li>
      <strong>The data controller</strong> - decides the purpose and way in which personal data is processed.
      </li>

   <li>
      <strong>The data processor</strong> - holds and processes data on behalf of a data controller.
      </li>
   </ul>
<h2>
   Who monitors how personal data is processed within a company?
   </h2>
<p>
   <strong>The Data Protection Officer (DPO), who may have been designated by the company</strong>, is responsible for monitoring how personal data is processed and to inform and advise
   employees who process personal data about their obligations. The DPO also cooperates
   with the Data Protection Authority (DPA), serving as a contact point towards the DPA
   and individuals.
   </p>
<h3>
   When should you appoint a Data Protection Officer?
   </h3>
<p>
   Your company is required to appoint a DPO when:
   </p>
<ul>

   <li>
      you regularly or systematically monitor individuals or process special categories
      of data
      </li>

   <li>
      this processing is a core business activity
      </li>

   <li>
      you process data on a large scale.
      </li>
   </ul>
<p>
   For example, if you process personal data to target advertising through search engines
   based on people's online behaviour, you are required to have a DPO. If, however, you
   only send your clients promotional material once a year, then you will not need a
   DPO. Likewise, if you are a doctor who collects data on patients' health, a DPO is
   probably not needed. But if you process personal data on genetics and health for a
   hospital, then a DPO will be required.
   </p>
<p>
   The DPO may be a staff member of your organisation or may be contracted externally
   on the basis of a service contact. A DPO can be an individual or part of an organisation.
   </p>
<h2>
   Processing data for another company
   </h2>
<p>
   A data controller can only use a data processor who offers sufficient guarantees,
   these should be included in a written contract between the parties involved. The contract
   must also contain a number of mandatory clauses, e.g. that the data processor will
   only process personal data when instructed to do so by the data controller.
   </p>
<h2>
   Data transfer outside the EU
   </h2>
<p>
   When personal data is transferred outside the <a class="abbr" id="" title="In this case, the 27 EU member states">EU<span> (In this case, the 27 EU member states)</span></a>, the protection offered by the GDPR should travel with the data. This means that
   if you export data abroad, your company must ensure one of the following measures
   are adhered to:
   </p>
<ul>

   <li>
      The non-EU country's protections are deemed adequate by the EU.
      </li>

   <li>
      Your company takes the necessary measures to provide appropriate safeguards, such
      as including specific clauses in the agreed contract with the non-European importer
      of the personal data.
      </li>

   <li>
      Your company relies on specific grounds for the transfer (derogations) such as the
      consent of the individual.
      </li>
   </ul>
<h2>
   When is data processing allowed?
   </h2>
<p>
   EU data protection rules mean you should process data in a fair and lawful manner,
   for a specified and legitimate purpose and only process the data necessary to fulfil
   this purpose. You must ensure that you fulfil one of the following conditions to process
   the personal data; you:
   </p>
<ul>

   <li>
      have been given the <strong>consent </strong>of the individual concerned
      </li>

   <li>
      need the personal data to fulfil a <strong>contractual obligation</strong> with the individual
      </li>

   <li>
      need the personal data to satisfy a <strong>legal obligation</strong>
      </li>

   <li>
      need the personal data to protect the <strong>vital interests</strong> of the individual
      </li>

   <li>
      process personal data to carry out the <strong>task in the interest of the public</strong>
      </li>

   <li>
      are acting in your company's <strong>legitimate interests</strong>, as long as the fundamental rights and freedoms of the individual whose data are
      processed are not seriously impacted. If the person's rights override your company's
      interests, then you cannot process the personal data.
      </li>
   </ul>
<h2>
   Agreeing to data processing - consent
   </h2>
<p>
   The GDPR applies strict rules for processing data based on consent. The purpose of
   these rules is to <strong>ensure that the individual understands what he or she is consenting to</strong>. This means that consent should be freely given, specific, informed and unambiguous
   by way of a request presented in clear and plain language. Consent should be given
   by an affirmative act, such as checking a box online or signing a form.
   </p>
<p>
   When someone consents to the processing of their personal data, you can only process
   the data for the purposes for which consent was given. You must also give them the
   opportunity to withdraw their consent.
   </p>
</div>
<a href="https://europa.eu/youreurope/business/dealing-with-customers/data-protection/data-protection-gdpr/index_en.htm">
  <span>Full text</span></a>

{% endblock %}